In [27]:
import requests
import pandas as pd
import numpy as np

In [41]:
def inr_to_usd():
    url='https://www.exchangerates.org.uk/INR-USD-exchange-rate-history.html'
    response= requests.get(url)
    print(response)
    print(response.status_code)
    t= response.text
    v=t
    rate=[]
    while'1 INR = ' in v:
        i= v.index('1 INR = ')
        rate.append(v[i+8:i+16])
        v=v[i+1:]
    v=t
    date=[]
    while'2022</a></' in v:
        i= v.index('2022</a></')
        date.append(v[i-6:i+4])
        v=v[i+1:]
    exchange_rate= pd.DataFrame({'Date': date, "Exchange_Rate": rate})
    exchange_rate.to_csv('ExchangeRateINRtoUSD.csv')
    return('Executed')

In [42]:
inr_to_usd()

<Response [200]>
200

'Executed'